body {
    background-color: #033813;
    color: white;
}
.profile-card {
    background: #252525;
    padding: 20px;
    max-width: 600px;
    margin: 10px auto;
    box-shadow: 0 0 20px rgba(250, 250, 250, 0.2);
    border-radius: 10px;
}
.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid rgb(12, 23, 117) !important;
}
input, textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
    border: 2px solid #07686d;
    background: #333;
    color: white;
}
button {
    background-color: #352727;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
button:hover {
    background-color: #007a85;
}